table, td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 30%;
}

td, th {
	padding: 5px;
}

thead {
	color: white;
    background-color: rgb(81, 18, 94);
}

tfoot {
	background-color: rgb(206, 206, 206);
}
caption{
    font-weight: bold;
    font-size: 14px;
}

body{
    font-size: 16px;
    font-family: Arial;
    background-image: url(imagenes_ejercicio4/fondo.jpg);
}